img{
    height: 20px;
    width: 25px;
}
address {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 1.2em;
    margin-top: 10px;
}
fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 2em;   
    padding: 2em;
}
label{
    color:#1A7EF7;
    font-family: 'Roboto Slab', serif;
}
input{
    border: none;
    border-bottom: 3px solid #F7931A;
    padding: .7em;
    width: 50%;
    background: none;
    font-size: larger;
    font-family: 'Cabin', sans-serif;
    caret-color: #1A7EF7;
}

input:invalid{
    background-color: rgba(238, 48, 48, 0.8);
    border-bottom: 3px solid #f71a1a;
}
textarea{
    resize: vertical;
    border: 2px solid #1A7EF7;
    padding: .5em;
    font-size: larger;
    font-family: 'Cabin', sans-serif;
    caret-color: #1A7EF7;
}
input:focus, textarea:focus {
    background-color: rgba(255, 255, 255, .8);
    box-shadow: #DDD 2px 3px 50px;
    outline: none;
}
input[type=submit] {
    border-radius: 3%;
    background-color: #1A7EF7;
    color: #fff;
    border: none;
    width: 10%;
    align-self: flex-end;
}
input[type=submit]:hover {
    transition: all 2s ease;
    box-shadow: #1A7EF7 2px 3px 50px;
}
.Articulo{
    width: 90vw;   
}

@media screen and (max-width: 700px) {
    input{
        padding: .2em;
        width: 100%;
        background: none;
        font-size: larger;
    }
    input[type=submit] {
        width: auto;
        padding: 1em;
        align-self: center;
    }
}