
/*Clases del Nav*/
.Volver{
    user-select: none;
    display: none;
    background-color: #1A7EF7;
    border-radius: 50%;
    position: fixed;
    top: 86%;
    left: 76%;
    width: 60px;
    height: 60px;
    
    justify-content: center;
    align-items: center;
}
.Volver a{
    display: inline-block;
    color: white;
    text-decoration: none;
}
.Menu{
    user-select: none;
    padding: 1em;
    line-height: 2rem;
    background-color: rgb(56, 56, 56);
    flex-grow: 1;
    
}
.Menu-header h3, label{
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
    font-weight: 500;
    color: #F7931A;
}
.Menu-lista{
    list-style: none;
    
}

.Menu-lista li > a{
    font-family: 'Cabin', sans-serif;
    color: white;
    text-decoration: none;
    transition: 2s;

}
.Menu-lista li > a:hover{
    color: #F7931A;
    text-decoration: underline;
    text-decoration-color:#1A7EF7 ;
    transition: 2s;
}


.Menu-header{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Menu-header > img{
    display: none;
    height: 20px;
    width: 25px;
}
.Menu input#menu, input#menu1 {
    display: none;
}

@media screen and (max-width: 700px) {
    .Volver{
        display: flex;
    }
    .Volver p{
        font-size: small;

    }
    .Menu{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        
    }
    .Menu-header > h3{
        display: none;
    }
    .Menu-header > label{
        display: inline-block;
        width: 100vw;
        text-align: center;
    }
    #menu ~ .Menu-lista {
        display: none;
        overflow: hidden;
    }
    
    #menu:checked ~ .Menu-lista{
        display: block;
    }
}